
 /*** Imports ***/

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";



/*** Variables ***/

$white: #fff;
$light-gray: #ced4da;
$light-gray-2: #eeeeee;
$gray: #cccccc;
$dark-gray: #333333;
$light-red: #e88383;



/*** App ***/

html, body, app-root, app-user-form, app-user-form > .container, app-user-form > .container > .row  {

    height: 100%;

}

.row {

    align-items: center;

}

code {

    display: block;
    background: $light-gray-2;
    padding: 5px;
    border: 1px solid $gray;
    color: $dark-gray;
    margin-bottom: .5rem;  

}

form {

    border: none;

    label {

        display: block;
        width: 100%;

    }

    .ur-title {

        font-weight: 600;

    }

    .ur-sub-title {

        font-weight: 400;

    }

    .custom-file {

        cursor: pointer;
        height: auto;
        margin-bottom: .5rem;

        input {

            display: none;

        }

        .custom-file-label {

            position: relative;

        }

    }

    .ur-Picture-preview-area {

        background: $light-gray-2;
        border: 1px solid $gray;
        padding: 20px;

        code {

            background: $white;

        }

        img {

            max-width: 100%;
            max-height: 20vh;
            padding: 10px;
            border: 1px solid $light-gray;
            background: $white;

        }

    }

    .ng-invalid.ng-touched {

        border: 1px solid $light-red;

        ~ .custom-file-label {

           border: 1px solid $light-red;
            
        }

        ~ .cross-validation-error-message {

            background: $light-red;
            color: $white;
            padding: 10px;

        }

    }

}