<div class="container">
    <div class="row">
        <div class="col-sm" *ngIf="!signupSuccess">
            <h1>Add New User</h1>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <label class="flex-nowrap">
                    <div class="ur-title">First Name (required):</div>
                    <input type="text" formControlName="firstName" class="form-control" placeholder="Your first name" (input)="input(userForm.get('firstName'))" (blur)="blur(userForm.get('firstName'))">
                    <p class="cross-validation-error-message alert alert-danger" *ngIf="userForm.get('firstName').invalid && (userForm.get('firstName').dirty || userForm.get('firstName').touched)">{{ userForm.get('firstName').errors.error }}</p>
                </label>
                <label class="flex-nowrap">
                    <div class="ur-title">Last Name (required):</div>
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Your last name" (input)="input(userForm.get('lastName'))" (blur)="blur(userForm.get('lastName'))">
                    <p class="cross-validation-error-message alert alert-danger" *ngIf="userForm.get('lastName').invalid && (userForm.get('lastName').dirty || userForm.get('lastName').touched)">{{ userForm.get('lastName').errors.error }}</p>
                </label>
                <label class="flex-nowrap">
                    <div class="ur-title">Gender:</div>
                    <select type="text" formControlName="gender" class="custom-select">
                        <option *ngFor="let gender of genders" [ngValue]="gender">{{ gender }}</option>
                    </select>
                </label>
                <label class="flex-nowrap custom-file">
                    <div class="ur-title">Picture:</div>
                    <input type="file" formControlName="picURL" (change)="addFile($event.target.files)">
                    <div class="custom-file-label">Your picture</div>
                </label>
                <label class="flex-nowrap ur-Picture-preview-area" *ngIf="imageURL">
                    <div class="ur-sub-title">On server:</div>
                    <code class="ur-sub-title">{{imageURL}}</code>
                    <div class="ur-sub-title">Picture preview:</div>
                    <img id="upload-res" src={{imageURL}} />
                </label>
                <button type="submit" class="btn btn-primary float-right"  [disabled]="!userForm.valid">Submit</button>
            </form> 
        </div>  
        <div class="col-sm" *ngIf="signupSuccess">
            <h1>{{userForm.get('firstName').value}}, thank you for registering to our product :)</h1>
            <a href="#" (click)="signupAgain()">I love your product! i want to sign up again!</a>
        </div>
    </div>
</div>